@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Noto+Sans+TC:wght@300;400;500;600;700&display=swap");

* {
  outline: none;
  box-sizing: border-box;
  touch-action: manipulation;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  user-select: none;
  font-family: var(--font-noto-sans-tc);
  --font-noto-sans-tc: 'Noto Sans TC', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

:root {
  --app-height: 100%;
}

html,
html body {
  padding: 0;
  margin: 0;
  overflow: auto;
  width: 100vw;
  height: var(--app-height);
  overscroll-behavior-y: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: initial;
}

div#root {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  height: 100%;

  & > * {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

img {
  display: block;
  -webkit-touch-callout: none;
}